.header{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-top: 1px solid #08c177;
    border-bottom:1px solid #08c177;
    padding: 3px 0;
    margin-bottom: 20px;
}
.header .left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .left .img{
  width: 60px;
  height: 60px;  
 border: 4px solid #08c177;
 border-radius: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-right: 20px;
}
.header .left .img img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.header .left .search input{
   height: 40px;
   border: none;
   border-radius: 15px;
   width: 220px;
   background-color: #F0F2F5;
}
.header .main {
    display: flex;
    justify-content: center;
    align-items: center;
}


.header .main  img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.header .main .home{
    padding: 10px;
}
.header .main .friend{
    padding: 10px;
}
.header .main .market{
    padding: 10px;
}
.header .main .story{
    padding: 10px;
}
.header .main .friend img{
    width: 40px;
    height:  40px;
}
.header .main .story img{
    width: 27px;
    height:  27px;
}
.header .right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .right .item{
   margin: 10px;
}
.header .right .item img{
 width: 40px;
 height: 40px;
}
.header .right .avatar img{

    border-radius: 25px;
}


/* body */

.body{
    background-color: #F0F2F5;
}