@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background: #efefef;
}

.container {
  max-width: 600px;
  margin: 24px auto;
  position: relative;
}
.container .leftArrow,
.container .rightArrow,
.full .leftArrow,
.full .rightArrow {
  width: 32px;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  cursor: pointer;
}
.container .leftArrow {
  background: #444;
  left: 8px;
}
.full .leftArrow {
  background: #489475;
  left: 120px;
}
.full .rightArrow {
  background: #489475;
  right: 120px;
}
.container .rightArrow {
  background: #444;
  right: 8px;
}
.container .list .story {
  height: 180px;
  width: 120px;
  flex-shrink: 0;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.container .list .story img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .content {
  overflow-x: scroll;
}
.container .content::-webkit-scrollbar {
  display: none;
}
.container .list {
  display: flex;
  gap: 8px;
}
.container .name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 16px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(transparent, #222 132%);
}

.full {
  inset: 0;
  z-index: 5;
  display: grid;
  place-items: center;
}
.full .content {
  height: 90vh;
  width: 100%;
  max-width: 700px;
  position: relative;
  overflow-y: auto;
}
.full .storyF {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.full .storyF img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.full .storyF video {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.full .storyF .name {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Poppins", sans-serif;
  background-color: #08c177;
  color: black;
  padding: 4px 32px;
  border-radius: 8px;
}
.full .pause {
  width: 32px;
  position: absolute;
  left: 180px;
  top: 10px;
  cursor: pointer;
}

.comment {
  margin: 24px auto;
  max-width: 700px;
  padding: 1px;
  border: none;
  background-color: #efefef;
  display: flex;
  align-items: center;
}

.bot {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  text-align: center;
}
.comment input {
  width: 300px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #08c177;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
}

.comment .sent{
  cursor: pointer;
}
.emoji {
  margin-right: 10px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}
.emoji span{
  cursor: pointer;
}
.emoji svg {
  transition: transform 0.2s; 
}
.emoji svg:hover {
  transform: scale(1.32); 
}

.header{
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-top: 1px solid #08c177;
  border-bottom:1px solid #08c177;
  padding: 3px 0;
  margin-bottom: 20px;
}
.header .left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .left .img{
width: 60px;
height: 60px;  
border: 4px solid #08c177;
border-radius: 50px;
display: flex;
justify-content: center;
align-items: center;
margin-right: 20px;
}
.header .left .img img{
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.header .left .search input{
 height: 40px;
 border: none;
 border-radius: 15px;
 width: 220px;
 background-color: #F0F2F5;
}
.header .main {
  display: flex;
  justify-content: center;
  align-items: center;
}


.header .main  img{
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.header .main .home{
  padding: 10px;
}
.header .main .friend{
  padding: 10px;
}
.header .main .market{
  padding: 10px;
}
.header .main .story{
  padding: 10px;
}
.header .main .friend img{
  width: 40px;
  height:  40px;
}
.header .main .story img{
  width: 27px;
  height:  27px;
}
.header .right{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .right .item{
 margin: 10px;
}
.header .right .item img{
width: 40px;
height: 40px;
}
.header .right .avatar img{

  border-radius: 25px;
}

