.none {
    display:  none;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-top: 1px solid #08c177;
    border-bottom:1px solid #08c177;
    padding: 3px 0;
    margin-bottom: 20px;
}
.header .left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .left .img{
  width: 60px;
  height: 60px;  
 border: 4px solid #08c177;
 border-radius: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-right: 20px;
}
.header .left .img img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.header .left .search input{
   height: 40px;
   border: none;
   border-radius: 15px;
   width: 220px;
   background-color: #F0F2F5;
}
.header .main {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.header .main  img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.header .main .home{
    padding: 10px 30px;
}
.header .main .friend{
    padding: 10px 30px;
}
.header .main .market{
    padding: 10px 30px;
}
.header .main .story{
    padding: 10px 30px;
}
.header .main .friend img{
    width: 40px;
    height:  40px;
}
.header .main .story img{
    width: 27px;
    height:  27px;
}
.header .right{
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .right .item{
   margin: 10px;
   cursor: pointer;
}
.header .right .item img{
 width: 40px;
 height: 40px;
}
.header .right .avatar img{

    border-radius: 25px;
}
.body{
    
    margin: 0 20%;
    
}
.body .top{
   
   
    padding-bottom: 20px;
}
.body .top .wallpaper img{
    width: 100%;
    height: 500px;
    object-fit: contain;
    border: none;
    border-radius: 20px;
}
.body .top  .avatar{
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #08c177;
    padding-bottom: 20px;
}
.body .top  .avatar .text{
    padding-left: 20px;
    font-size: 25px;
    font-weight: 600;
}
.body .top  .avatar img{
    width: 120px;
    height: 120px;
    object-fit: contain;
    border: none;
    border-radius: 60px;
}
.body .top .nav{
    border-bottom: 1px solid #08c177;
    margin-bottom: 20px;
}
.body .top .nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.body .top .nav ul li{
    padding: 0 15px;
    font-size: 18px;
    font-weight: 540;
    color: #606266;
}
.body .think{
    background-color: #F0F2F5;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}
.body .think .top {
    display: flex;
    border-bottom:1px solid #08c177;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.body .think .top .avatars{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}

.body  .think .top .avatars img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
    margin-right: 20px;
    
}
.body  .think .top .avatars input{
    border: none;
    width: 500px;
    height: 40px;
    border-radius: 20px;
}
.body  .think .button{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
.body  .think .button .item{
    display: flex;
}
.body  .think .button .item img{
    padding-right: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.body .newFeed{
  
 
} 
.body .newFeed .item{
    background-color: #F0F2F5;
    border: none;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}
.body .newFeed .item .avatars{
    display: flex;
    align-items: center;
    padding: 10px;
    
}
.body .newFeed .item .avatars img{
    margin-right: 15px;
    width: 50px;
    height: 50px;
    object-fit: cover;  
    border-radius: 25px;
}
.body .newFeed .item .avatars p{
    font-size: 25px;
    font-weight: 700;
}
.body .newFeed .item .caption{
    padding-left: 10px;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
.body .newFeed .item img{
    width: 100%;
    height: 600px;
    object-fit: cover;  
}
.body .newFeed .item .member-like{
    display: flex;
  align-items: center;
  margin: 0px 30px;
  padding: 5px 0;
  border-bottom: 1px solid #08c177;
  color: #08c177;
  font-size: 18px;
}
.body .newFeed .item .contact{
 display: flex;
 justify-content: space-between;
 padding: 10px 30px;
}
.body .newFeed .item .contact .inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body .newFeed .item .contact svg{
    width: 30px;
    height: 30px;
    object-fit: cover; 
    padding-right: 10px;
}
.body .newFeed .item .contact img{
    width: 30px;
    height: 30px;
    object-fit: cover; 
    padding-right: 10px;
}
